- var revealLocation = '../bower_components/reveal.js/'
doctype html
html(lang="en")

  include ../shared/slide_mixins

  include ../shared/head

  link(rel='external' type='text/html' src="../shared/head.jade")

  body
    .reveal
      .slides
        +titleSlide({title: "Quick Presentations With RevealJade",subtitle: "I know right?"})
        +ulSlide("Get Started", [
          "npm install -g bower grunt",
          "npm install",
          "bower install",
          "grunt serve",
          "go to localhost:8000/example/"
          ])
        +bigTitleSlide("I am a big title slide")
          p Enjoy
        +slide()
          p This is a normal Slide. Just nest jade under me
        +slideGroup()
          +bigTitleSlide("First Slide in a group")
          +bigTitleSlide("Last Slide in a group")
        +slide
          :markdown
            # Markdown flavored Slide
            ## Thank you Jade

    include ../shared/footer