- var Reveal = require('reveal.js')
script(type='text/javascript' src= revealLocation + 'lib/js/head.min.js')
script.
  // Full list of configuration options available here:
  // https://github.com/hakimel/reveal.js#configuration
   Reveal.initialize({
    controls: true,
    progress: true,
    history: true,
    center: true,
    theme: 'moon',
    slideNumber: true,
    transition: 'concave',
    // Parallax scrolling
    // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
    // parallaxBackgroundSize: '2100px 900px',
    // Optional libraries used to extend on reveal.js
   });
