head
  meta(charset='utf-8')
  title Agile Development with Github
  meta(name='description', content='')
  meta(name='author', content='Paul Scarrone')
  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  link(rel='stylesheet', href= revealLocation + 'css/reveal.min.css')
  link#theme(rel='stylesheet', href= revealLocation +'css/theme/moon.css')
  link(rel='stylesheet', href= 'css/slides.css')
  // For syntax highlighting
  link(rel='stylesheet', href= revealLocation + 'lib/css/zenburn.css')
  script(src="//localhost:35729/livereload.js")
  script var revealLocation = '#{revealLocation}'

  //if lt IE 9
    script(src= revealLocation + 'lib/js/html5shiv.js')

  script(type='text/javascript') document.write( '<link rel="stylesheet" href="' + revealLocation + 'css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
